:root {
    --myYellow: #F0D393;
    --myGray: #DACDBE;
    --myBlack: #0C0B08;
    --myRed: #AA2119;
    --myOrange: #CC6F29;
    --myOrangeA: rgba(204, 111, 41, 0.8);
}

* {
    border:0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: var(--myGray);
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--myRed);
}

.header_space {
    width: 100%;
    height: 80px;
}

.inner_header {
    height: 100%;
    width: 80%;
    display: table;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.inner_header .logo {
    color: var(--myYellow);
    font-weight: 300;
    text-decoration: none;
    font-size: 200%;
    text-transform: uppercase;
    font-family: 'Josefin Sans';
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    float: left;
    letter-spacing: -3px;
}

.inner_header .logo span {
    font-weight: 800;
    font-size: 130%;
    letter-spacing: 2px;
}

.inner_header ul {
    height: 100%;
    width: 50%;
    float: right;
    display: flex;
    align-items: center;
}

.inner_header ul a {
    margin-left: 5%;
    height: 50%;
    width: 30%;
    display: block;
    float: left;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 800;
    background: var(--myOrangeA);
}

.inner_header ul a:hover {
    background: var(--myOrange);
}

.inner_header ul a li {
    display: flex;
    height: 100%;
    color: var(--myBlack);
    font-family: 'Josefin Sans';
    font-size: 100%;
    justify-content: center;
    align-items: center;
}

header .mode {
    background-image: url(../img/dark.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 50px;
    height: 50px;
    float: right;
    margin-left: 5%;
}

.intro {
    text-align: center;
    color: var(--myBlack);
    padding-left: 10%;
    padding-right: 10%;
}

.intro ul {
    display: table;
    width: 70%;
}

.intro ul h1 {
    font-family: 'Josefin Sans';
    font-size: 300%;
    float: left;
    width: 100%;
    padding: 10px;
    display: table-cell;
}

.intro ul p {
    font-family: 'Josefin Sans';
    font-size: 150%;
    width: 100%;
    text-align: justify;
    float: left;
    display: table-cell;
    font-weight: 600;
}

.intro h1 {
    font-family: 'Josefin Sans';
    font-size: 300%;
    float: left;
    width: 100%;
    padding: 10px;
    display: table-cell;
}

.intro h2 {
    font-family: 'Josefin Sans';
    font-size: 250%;
    float: center;
    width: 100%;
    padding: 10px;
    display: block;
    color: var(--myBlack);
}

.intro h3 {
    font-family: 'Josefin Sans';
    font-size: 90%;
    float: center;
    width: 100%;
    padding: 10px;
    display: block;
}

.skills{
    width: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}

.portfolio {
    text-align: center;
    color: var(--myBlack);
    padding-left: 10%;
    padding-right: 10%;
}

.portfolio h1 {
    font-family: 'Josefin Sans';
    font-size: 300%;
    float: left;
    width: 100%;
    padding: 10px;
    display: table-cell;
}

.project {
    width: 100%;
    border-radius: 25px;
    background: var(--myOrange);
    margin-top: 5%;
    margin-bottom: 5%;
}

.project table {
    width: 100%;
    padding: 5%;
}

.project table tr {
    width: 100%;
}

.project table tr .text_col {
    height: 100%;
    width: 30%;
    margin-left: 10%;
    padding-right: 2%;
}

.project table tr .image_col {
    height: 100%;
    width: 70%;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.project table tr .text_col h2 {
    color: var(--myBlack);
    font-family: 'Josefin Sans';
    font-weight: 800;
    font-size: 170%;
    justify-content: space-between;
    align-items: center;
}

.project table tr .text_col p {
    color: var(--myBlack);
    font-family: 'Josefin Sans';
    font-weight: 800;
    font-size: 100%;
    justify-content: center;
    text-align: center;
    padding: 2%;
}

.project table tr .image_col .slider{
    float: right;
}

.contacts {
    text-align: center;
    color: var(--myBlack);
    padding-left: 10%;
    padding-right: 10%;
}

.contacts table {
    width: 100%;
}

.contacts table tr {
    width: 100%;
    height: 50%;
    color: var(--myBlack);
    font-family: 'Josefin Sans';
    font-weight: 800;
    font-size: 200%;
    justify-content: space-between;
}

.contacts table tr td {
    text-align: center;
    vertical-align: middle;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
}

.contacts table tr td a i {
    text-decoration: none;
    color:var(--myBlack);
}

hr {
    width: 100%;
    height:2px;
    border-width:0;
    background:var(--myBlack);
    margin-top: 2%;
    margin-bottom: 2%;
}

.my_picture {
    width:22%;
    height:22%;
    border: 4px solid var(--myBlack);
    border-radius: 50px;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.project_image {
    border-radius: 10px;
    height: auto;
    max-width: 100%;
}